/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Estilos de encabezado */
header {
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
}

header h1 {
    padding: 20px;
    font-family: 'Sacramento', cursive;
    font-size: 3em;
}

/* Estilos de navegación */
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.3);
}

/* Estilos de pie de página */
footer {
    background: linear-gradient(to right, #00dbde, #fc00ff);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: static;
    bottom: 0;
    width: 100%;
    font-family: 'Indie Flower', cursive;
}